.lista-grupo {
    display: grid;
    grid-auto-rows: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    padding: 1em;
    gap: 1em;
}

.grupo {
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    transition-duration: 0.3s;
}

.grupo:hover {
    transform: scale(1.1);
}

.grupo span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}