.boton-agregar {
    padding: 10px 20px;
    color: white;
    background-color: #28a745; /* verde */
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.boton-agregar:hover {
    background-color: #218838; /* verde oscuro */
    transform: scale(1.05);
}

.boton-agregar:active {
    background-color: #1e7e34; /* verde más oscuro */
    transform: scale(0.95);
}
